{{- if .Values.tenancy.enabled }}
{{- range .Values.tenancy.teams }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .namespace | default (printf "legator-%s" .name) }}
  labels:
    legator.io/team: {{ .name | quote }}
    legator.io/managed-by: legator
---
{{- if .quotas }}
apiVersion: v1
kind: ResourceQuota
metadata:
  name: legator-team-quota
  namespace: {{ .namespace | default (printf "legator-%s" .name) }}
  labels:
    legator.io/team: {{ .name | quote }}
spec:
  hard:
    {{- if .quotas.maxAgents }}
    count/legatoragents.legator.io: {{ .quotas.maxAgents | quote }}
    {{- end }}
    {{- if .quotas.maxConcurrentRuns }}
    count/legatorruns.legator.io: {{ .quotas.maxConcurrentRuns | quote }}
    {{- end }}
{{- end }}
{{- end }}
{{- end }}
